*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body{
    background: #f6f6f6;
}


header{
    background: #008489;
    height: 66px;
}

header *{
    color: white;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}


header .logo-text{
    margin: 9px;
    font-family: 'Candal', sans-serif;
}

header .logo-text span{
    color: #00f0f8;
}

header ul{
    float: right;
    list-style: none;
}

header ul li{
    float: left;
    position: relative;
}

header ul li ul{
    position:absolute;
    top: 66px;
    right: 0;
    width: 180px;
    display: none;
    z-index: 88888;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li{
    width: 100%;
}

header ul li ul li a{
    padding: 10px;
    color: #444;
    background: white;
}

header  ul li ul li a:hover{
    background: #d5d6d6;
}

header ul li ul li a.logout{
    color:red;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{
    background-color: #006669;
    transition: 0.5s;
}

header .menu-toggle{
    display: none;
}

@media screen and (max-width: 640px) {
    header{
        position:relative;
    }
    header ul{
        width: 100%;
        background: #0E94A0;
        max-height: 0px;
        overflow: hidden;
    }

    .showing{
        max-height: 100em;
    }

    header ul li{
        width: 100%;
    }
    header ul li ul{
       position: static;
       width: 100%;
       display: block;
    }
    header ul li ul li a{
        padding: 10px;
        color: white;
        background: #0E94A0;
        padding-left: 50px;
    }

    header ul li ul li a:hover{
        background: #006669;
    }

    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }

    header .logo{
        margin-left: 0.9em;
    }

}